body {
	background-color: black;
}

// Separations Section
.separation1 {
	height: 6rem;
}

.separation2 {
	height: 1rem;
}

.separation3 {
	height: 1.2rem;
}

.separation4 {
	height: 3rem;
}
// End of Separation Section


// Font Section
p {
	font-family: Spectral;
	color: white;
}

.dollar-text {
	font-size: 1.4rem;
}

.stat-text {
	font-size: 1.2rem;
}

.lvl-text {
	font-size: 2rem;
}

.info-text {
	font-size: 1.4rem;
}

@media (max-width: 470px) {
	.dollar-text {
		font-size: 1rem;
	}
	.stat-text {
		font-size: 0.8rem;
	}
	.lvl-text {
		font-size: 1.6rem;
	}
	.info-text {
		font-size: 1rem;
	}
}
// End of Font Section

// Buttons Section
.work-buttons {
	height: 4rem;
	width: 10rem;
}

.workout-buttons {
	height: 4rem;
}
// End of Buttons Section 

.progress {
	width: 20%;
}

.progress-bar {
	width: 0%;
}

.big-bar {
	height: 2rem;
}

#camp-bar-parent {
	width: 75%;
	height: 2rem;
}

#workoutPlaces .progress, #magasin .progress {
	float: right;
	display: block;
}
